<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ReIPopov | Логотипы</title>
	<link rel="shortcut icon" href="/img/siteLogo.webp">

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/burger.css">
	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
	<link rel="stylesheet" href="/css/adaptive.css">
	<link rel="stylesheet" href="/css/toggle-mode.css">
</head>
<body id="body">
	<header id="header">
		<img src="/img/logo.webp" alt="" width="103px" height="24px">
		<div class="navbar">
			<ul>
				<li><a href="/index.html">Главная</a></li>
				<li><a href="/templates/Art/page-1/index.html">Арты</a></li>
				<li><a href="/templates/Drawings/page-1/index.html">Рисунки</a></li>
				<li><a href="/templates/3D/page-1/index.html">3D Работы</a></li>
				<li><a href="/templates/Design/page-1/index.html">Дизайн</a></li>
				<li><a href="/templates/Lettering/page-1/index.html">Леттеринг</a></li>
				<li><a href="/templates/Logo/page-1/index.html" style="color: #fff; border-bottom: 2px solid #ffbe41; opacity: 1;">Логотипы</a></li>
				<li><a href="/templates/UX/page-1/index.html">Макеты сайтов</a></li>
				<li><a href="/templates/BookDesign/page-1/index.html">Дизайн книги</a></li>
				<li><a href="/templates/Autobiography/index.html">Автобиография</a></li>
				<li><a href="/templates/Blog/page-1/index.html">Блог</a></li>
				<li><a href="/templates/CONTACTS.html">Контакты</a></li>
			</ul>
		</div>
		<i class="fa-solid fa-sun" id="toggle-mode"></i>
		<div id="nav-icon6">
		    <span></span>
		</div>
	</header>

	<div id="burger">
		<div>
			<a href="/index.html"><span>•</span> Главная</a>
			<h2 id="burger__portfolio-btn">Мое портолио <i class="fa-solid fa-caret-down" style="transition: .3s;"></i></h2>
			<div id="burger__portfolio" style="height: 0%; display: none;">
				<a id="bpi__1" href="/templates/Art/page-1/index.html"><span>•</span> Арты</a>
				<a id="bpi__2" href="/templates/Drawings/page-1/index.html"><span>•</span> Рисунки</a>
				<a id="bpi__3" href="/templates/3D/page-1/index.html"><span>•</span> 3D Работы</a>
				<a id="bpi__4" href="/templates/Design/page-1/index.html"><span>•</span> Дизайн</a>
				<a id="bpi__5" href="/templates/Lettering/page-1/index.html"><span>•</span> Леттеринг</a>
				<a id="bpi__6" href="/templates/Logo/page-1/index.html"><span style="color: #ffbe41;">•</span> Логотипы</a>
				<a id="bpi__7" href="/templates/UX/page-1/index.html"><span>•</span> Макеты сайтов</a>
				<a id="bpi__8" href="/templates/BookDesign/page-1/index.html"><span>•</span> Дизайн книги</a>
			</div>

			<a href="/templates/Autobiography/index.html"><span>•</span> Автобиография</a>
			<a href="/templates/Blog/page-1/index.html"><span>•</span> Блог</a>
			<a href="/templates/CONTACTS.html"><span>•</span> Контакты</a>
			
		</div>
		<footer id="footer">
			<div class="contacts">
				<i class="fa-brands fa-square-facebook" onclick="linkFacebook()"></i>
				<i class="fa-brands fa-vk" onclick="linkVK()"></i>
				<i class="fa-brands fa-square-behance" onclick="linkBehance()"></i>
				<i class="fa-brands fa-square-instagram" onclick="linkInstagram()"></i>
				<i class="fa-brands fa-artstation" onclick="linkDrive()"></i>
			</div>
		</footer>
	</div>
	
	<main id="main">
		<div class="intro">
			<img src="/img/intro/banner6.jpg" alt="" style="height: 100%; position: absolute; z-index: -1; width: 100%; object-fit: cover;">
			<h1>ЛОГО</h1>
			<span>---</span>
		</div>
		<div class="container">
			<section class="section__1">
				<div>
					<a href='IPTV/index.html' class="block__interactive item">
					    <img src="IPTV/preview.webp" alt="Кыргызтелеком">
					    <h1>IPTV</h1>
					</a>
					<a href='CollectionLogo/index.html' class="block__interactive item">
					    <img src="CollectionLogo/preview.webp" alt="Кыргызтелеком">
					    <h1>Сборник лого</h1>
					</a>
				</div>
			</section>
			<div id="pagination">
				<a href="../page-1/index.html" class="page-link active">1</a>
				<!-- <a href="../page-2/index.html" class="page-link">2</a> -->
				<!-- <a href="../page-3/index.html" class="page-link">3</a> -->
			</div>
		</div>
	</main>
	<footer id="footer">
		<img src="/img/Pod.webp" alt="">
		<div class="contacts">
			<i class="fa-brands fa-square-facebook" onclick="linkFacebook()"></i>
			<i class="fa-brands fa-vk" onclick="linkVK()"></i>
			<i class="fa-brands fa-square-behance" onclick="linkBehance()"></i>
			<i class="fa-brands fa-square-instagram" onclick="linkInstagram()"></i>
			<i class="fa-brands fa-artstation" onclick="linkDrive()"></i>
		</div>
		<span style="color: #fff;">©2023 Portfolio - Все права защищены</span>
	</footer>
	<script src="/js/links.js"></script>

	<script src="/js/toggle-mode.js"></script>
	<script src="/js/burger.js"></script>
	<script src="/js/header.js"></script>
</body>
</html>