<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ReIPopov | Рисунки</title>
	<link rel="shortcut icon" href="/img/siteLogo.webp">

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/burger.css">
	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/fullScreen.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
	<link rel="stylesheet" href="/css/adaptive.css">
	<link rel="stylesheet" href="/css/toggle-mode.css">
</head>
<body id="body">
	<header id="header">
		<img src="/img/logo.webp" alt="" width="103px" height="24px">
		<div class="navbar">
			<ul>
				<li><a href="/index.html">Главная</a></li>
				<li><a href="/templates/Art/page-1/index.html">Арты</a></li>
				<li><a href="/templates/Drawings/page-1/index.html" style="color: #fff; border-bottom: 2px solid #ffbe41; opacity: 1;">Рисунки</a></li>
				<li><a href="/templates/3D/page-1/index.html">3D Работы</a></li>
				<li><a href="/templates/Design/page-1/index.html">Дизайн</a></li>
				<li><a href="/templates/Lettering/page-1/index.html">Леттеринг</a></li>
				<li><a href="/templates/Logo/page-1/index.html">Логотипы</a></li>
				<li><a href="/templates/UX/page-1/index.html">Макеты сайтов</a></li>
				<li><a href="/templates/BookDesign/page-1/index.html">Дизайн книги</a></li>
				<li><a href="/templates/Autobiography/index.html">Автобиография</a></li>
				<li><a href="/templates/Blog/page-1/index.html">Блог</a></li>
				<li><a href="/templates/CONTACTS.html">Контакты</a></li>
			</ul>
		</div>
		<i class="fa-solid fa-sun" id="toggle-mode"></i>
		<div id="nav-icon6">
		    <span></span>
		</div>
	</header>

	<div id="burger">
		<div>
			<a href="/index.html"><span>•</span> Главная</a>
			<h2 id="burger__portfolio-btn">Мое портолио <i class="fa-solid fa-caret-down" style="transition: .3s;"></i></h2>
			<div id="burger__portfolio" style="height: 0%; display: none;">
				<a id="bpi__1" href="/templates/Art/page-1/index.html"><span>•</span> Арты</a>
				<a id="bpi__2" href="/templates/Drawings/page-1/index.html"><span style="color: #ffbe41;">•</span> Рисунки</a>
				<a id="bpi__3" href="/templates/3D/page-1/index.html"><span>•</span> 3D Работы</a>
				<a id="bpi__4" href="/templates/Design/page-1/index.html"><span>•</span> Дизайн</a>
				<a id="bpi__5" href="/templates/Lettering/page-1/index.html"><span>•</span> Леттеринг</a>
				<a id="bpi__6" href="/templates/Logo/page-1/index.html"><span>•</span> Логотипы</a>
				<a id="bpi__7" href="/templates/UX/page-1/index.html"><span>•</span> Макеты сайтов</a>
				<a id="bpi__8" href="/templates/BookDesign/page-1/index.html"><span>•</span> Дизайн книги</a>
			</div>

			<a href="/templates/Autobiography/index.html"><span>•</span> Автобиография</a>
			<a href="/templates/Blog/page-1/index.html"><span>•</span> Блог</a>
			<a href="/templates/CONTACTS.html"><span>•</span> Контакты</a>
			
		</div>
		<footer id="footer">
			<div class="contacts">
				<i class="fa-brands fa-square-facebook" onclick="linkFacebook()"></i>
				<i class="fa-brands fa-vk" onclick="linkVK()"></i>
				<i class="fa-brands fa-square-behance" onclick="linkBehance()"></i>
				<i class="fa-brands fa-square-instagram" onclick="linkInstagram()"></i>
				<i class="fa-brands fa-artstation" onclick="linkDrive()"></i>
			</div>
		</footer>
	</div>

	<main id="main">
		<div class="intro">
			<img src="/img/intro/banner2.jpg" alt="" style="height: 100%; position: absolute; z-index: -1; width: 100%; object-fit: cover;">
			<h1>Рисунки</h1>
			<span>ПОДБОРКА ЦИФРОВЫХ АРТОВ</span>
		</div>
		<div class="container">
			<section class="section__1">
				<div>
					<div class="block__interactive item">
					    <img src="item_1.webp" alt="" id="image_1">
					    <h1>Человек паук</h1>
					</div>
					<div class="block__interactive item">
					    <img src="item_2.webp" alt="" id="image_2">
					    <h1>Человек паук</h1>
					</div>
					<div class="block__interactive item">
					    <img src="item_3.webp" alt="" id="image_3">
					    <h1>Человек паук</h1>
					</div>
					<div class="block__interactive item">
					    <img src="item_4.webp" alt="" id="image_4">
					    <h1>Death white</h1>
					</div>
					<div class="block__interactive item">
					    <img src="item_5.webp" alt="" id="image_5">
					    <h1>Rick And Morty</h1>
					</div>
					<!-- <div class="block__interactive item">
					    <img src="item_6.webp" alt="" id="image_6">
					    <h1>Crossout</h1>
					</div>
					<div class="block__interactive item">
					    <img src="item_7.webp" alt="" id="image_7">
					    <h1>Crossout</h1>
					</div>
					<div class="block__interactive item">
					    <img src="item_8.webp" alt="" id="image_8">
					    <h1>Crossout</h1>
					</div>
					<div class="block__interactive item">
					    <img src="item_9.webp" alt="" id="image_9">
					    <h1>Crossout</h1>
					</div> -->
				</div>
			</section>

			<div id="pagination">
				<a href="../page-1/index.html" class="page-link active">1</a>
				<!-- <a href="../page-2/index.html" class="page-link">2</a> -->
				<!-- <a href="../page-3/index.html" class="page-link">3</a> -->
			</div>
		</div>
		<div class="fullScreen" style="display: none;">
			<i class="fa-solid fa-xmark" id="fullScreenBtn__close"></i>

			<div class="fullScreen__window">
				<i class="fa-solid fa-arrow-left" id="fullScreenBtn__ToLeft" onclick="ArrowToLeft()"></i>
				<img src="" alt="" id="fullScreen__image" style="object-fit: cover;">
				<i class="fa-solid fa-arrow-right" id="fullScreenBtn__ToRight" onclick="ArrowToRight()"></i>
			</div>

			<div class="fullScreen__bottom">
				<div class="list_controle">
					<button id="list__controleArrow"><i class="fa-solid fa-caret-down"></i></button>
					<button id="zoom_btn" onclick="zoomBlock()"><i class="fa-solid fa-magnifying-glass"></i></button>
					<div id="zoom_block" style="display: none;">
						<input type="range" min="0" max="9" id="size" oninput="sizePic()" value="0"></p>
					</div>
				</div>
				<div style="width: 100%; height: 100%;" class="image__list">
					<img src="item_1.webp" id="list__item-1">
					<img src="item_2.webp" id="list__item-2">
					<img src="item_3.webp" id="list__item-3">
					<img src="item_4.webp" id="list__item-4">
					<img src="item_5.webp" id="list__item-5">
					<!-- <img src="item_6.webp" id="list__item-6">
					<img src="item_7.webp" id="list__item-7">
					<img src="item_8.webp" id="list__item-8">
					<img src="item_9.webp" id="list__item-9"> -->
				</div>
			</div>
		</div>
	</main>
	<footer id="footer">
		<img src="/img/Pod.webp" alt="">
		<div class="contacts">
			<i class="fa-brands fa-square-facebook" onclick="linkFacebook()"></i>
			<i class="fa-brands fa-vk" onclick="linkVK()"></i>
			<i class="fa-brands fa-square-behance" onclick="linkBehance()"></i>
			<i class="fa-brands fa-square-instagram" onclick="linkInstagram()"></i>
			<i class="fa-brands fa-artstation" onclick="linkDrive()"></i>
		</div>
		<span style="color: #fff;">©2023 Portfolio - Все права защищены</span>
	</footer>

	<script src="/js/links.js"></script>
	
	<script>
		const header = document.getElementById('header');
		const body = document.getElementById('body');
		const fullScreen = document.querySelector('.fullScreen');
		const fullScreenImage = document.getElementById('fullScreen__image');
		const fullScreenBtnZoom = document.getElementById('fullScreenBtn__zoom');
		const fullScreenBtnToLeft = document.getElementById('fullScreenBtn__ToLeft');
		const fullScreenBtnToRight = document.getElementById('fullScreenBtn__ToRight');
		const fullScreenBtnClose = document.getElementById('fullScreenBtn__close');
		const fullScreen__bottom = document.querySelector('.fullScreen__bottom');

		const fullScreenWindow = document.querySelector('.fullScreen__window');
		const list__controleArrow = document.getElementById('list__controleArrow');
		let zoom_block = document.getElementById('zoom_block');

		let currentImageIndex;

		document.querySelectorAll('.item').forEach((item, index) => {
			item.addEventListener('click', () => {
				currentImageIndex = index + 1;
				header.style.display = 'none';
				body.style.overflow = 'hidden';
				fullScreen.style.display = '';
				fullScreenImage.src = item.querySelector('img').src;
				document.documentElement.requestFullscreen();
				checkList()
				activeListItem()

				fullScreenImage.style.width = 'auto';
				fullScreenImage.style.height = 'auto';
				fullScreenImage.style.maxWidth = '100%';
				fullScreenImage.style.maxHeight = '100%';
			});
		});

		fullScreenBtnClose.addEventListener('click', function() {
			fullScreenClose()
		})

		function fullScreenClose(){
			header.style.display = '';
			body.style.overflow = 'visible';
			fullScreen.style.display = 'none';
			document.exitFullscreen();

			zoomBlockVisible = false;

			document.getElementById('zoom_block').style.display = 'none';
			fullScreenImage.removeEventListener('mousedown', startDragging);
			document.removeEventListener('mousemove', dragElement);
			document.removeEventListener('mouseup', stopDragging);

			fullScreenImage.style.top = '';
			fullScreenImage.style.left = '';
			document.getElementById("size").value = '0'

			fullScreenImage.style.cursor = 'default';

			fullScreenImage.style.width = 'auto';
			fullScreenImage.style.height = 'auto';
			fullScreenImage.style.maxWidth = '100%';
			fullScreenImage.style.maxHeight = '100%';
		}
		document.addEventListener('keydown', function(e) {
			if (e.key === "Escape"){
				fullScreenClose()
			}
		});

		let listVisible = true;
		let zoomBlockVisible = false;

		list__controleArrow.addEventListener('click', function() {
			if(listVisible){
				list__controleArrow.querySelector('i').classList.add('fa-caret-up');
				list__controleArrow.querySelector('i').classList.remove('fa-caret-down');
				fullScreen__bottom.style.transform = 'translateY(80px)';
				fullScreen__bottom.style.opacity = '30%';
				listVisible = false;
			}else{
				list__controleArrow.querySelector('i').classList.add('fa-caret-down');
				list__controleArrow.querySelector('i').classList.remove('fa-caret-up');
				fullScreen__bottom.style.transform = 'translateY(0px)';
				fullScreen__bottom.style.opacity = '100%';
				listVisible = true;
			}
		});

		function zoomBlock() {
		    if (zoomBlockVisible === false) {
		        document.getElementById('zoom_block').style.display = '';
		        zoomBlockVisible = true;

		        fullScreenImage.addEventListener('mousedown', startDragging);
		        document.addEventListener('mousemove', dragElement);
		        document.addEventListener('mouseup', stopDragging);

		        fullScreenImage.style.cursor = 'grab';
		        fullScreenImage.style.width = '100%';
		        fullScreenImage.style.height = '';
		        fullScreenImage.style.maxWidth = '';
		        fullScreenImage.style.maxHeight = '';

		        fullScreenBtnToLeft.style.display = 'none'
		        fullScreenBtnToRight.style.display = 'none'
		    } else {
		        zoomBlockVisible = false;

		        fullScreenImage.removeEventListener('mousedown', startDragging);
		        document.removeEventListener('mousemove', dragElement);
		        document.removeEventListener('mouseup', stopDragging);

		        fullScreenImage.style.top = '';
		        fullScreenImage.style.left = '';
		        document.getElementById("size").value = '0'

		        fullScreenImage.style.cursor = 'default';
		        document.getElementById('zoom_block').style.display = 'none';

		        fullScreenImage.style.width = 'auto';
		        fullScreenImage.style.height = 'auto';
		        fullScreenImage.style.maxWidth = '100%';
		        fullScreenImage.style.maxHeight = '100%';

		        fullScreenBtnToLeft.style.display = ''
		        fullScreenBtnToRight.style.display = ''
		    }
		}

		let isDragging = false;
		let offsetX, offsetY;

		function startDragging(e) {
		    isDragging = true;
		    offsetX = e.clientX - fullScreenImage.getBoundingClientRect().left;
		    offsetY = e.clientY - fullScreenImage.getBoundingClientRect().top;
		    fullScreenImage.style.cursor = 'grabbing';
		    e.preventDefault();
		}

		function dragElement(e) {
		    if (isDragging) {
		        fullScreenImage.style.left = `${e.clientX - offsetX}px`;
		        fullScreenImage.style.top = `${e.clientY - offsetY}px`;
		        e.preventDefault()
		    }
		}

		function stopDragging() {
		    isDragging = false;
		    fullScreenImage.style.cursor = 'grab';
		}


		function sizePic() {
			size = document.getElementById("size").value;
			fullScreenImage.style.width = 100 + 10*size + '%';
		}

		function ArrowToLeft(){
			if(currentImageIndex === 1){
				currentImageIndex = currentImageIndex;
				fullScreenImage.src = 'item_' + currentImageIndex + '.webp';
				checkList()
				activeListItem()
			}else{
				currentImageIndex = currentImageIndex - 1;
				fullScreenImage.src = 'item_' + currentImageIndex + '.webp';
				checkList()
				activeListItem()
			}
		}
		function ArrowToRight(){
			if(currentImageIndex === 5){
				currentImageIndex = currentImageIndex;
				fullScreenImage.src = 'item_' + currentImageIndex + '.webp';
				checkList()
				activeListItem()
			}else{
				currentImageIndex = currentImageIndex + 1;
				fullScreenImage.src = 'item_' + currentImageIndex + '.webp';
				checkList()
				activeListItem()
			}
		}

		function checkList(){
		    for(let i = 1; i <= 5; i++){
		    	document.getElementById('list__item-' + i).onclick = function(){
		    		fullScreenImage.src = 'item_' + i + '.webp';
		    		currentImageIndex = i;
		    		activeListItem()
		    	}
		    }
		}

		function activeListItem(){
			for(let i = 1; i <= 5; i++){
		        document.getElementById('list__item-' + i).classList.remove('active-item');
		        document.getElementById('list__item-' + currentImageIndex).classList.add('active-item');
		    }
		}
	</script>
	<script src="/js/toggle-mode.js"></script>
	<script src="/js/burger.js"></script>
	<script src="/js/header.js"></script>
</body>
</html>